name: build-newofetch

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install build tools
      run: sudo apt update && sudo apt install -y build-essential

    - name: Compile newofetch
      run: gcc -O2 newofetch.c -o newofetch

    - name: Run newofetch
      run: ./newofetch
